body{
    margin: 0;
    padding: 0;
}

header div:nth-child(1){
    margin-left: 18%;
    display: inline-block;
}

#heading {
    display: inline-block;
    color: #044687;
    vertical-align: -18%;
    margin-left: 11px;
}
#left-header{
    display: inline-block;
    margin-left: 15%;
}

ol li {
    display: inline;
    color: #044687;
    font-weight: bold ;
    padding-right: 10px;

   
}
.list{
    border-right: 2px solid #044687;
}
.a1{
    position: relative;
    width: 100%;

}
.a2{
    position: absolute;
    top: 30%;
    left:10%
    
}
.adjust{
    
    width: 97.8%;
}
.a3{
    position: absolute;
    top: 48%;
    left:10%;
    width: 200px;

    
}
ul li{
    display: inline-block;
    padding-left: 15%;
    padding-top: 1%;
    font-size: x-large;
    
}
.a5{
    margin-left: 1px;
}
#a66{
    width: 100%;

    height: 350px;
}
.a7{
    display: inline-block;
    width: 60%;
    height: 100%;
    vertical-align: middle;
}
.a8{
    display: inline-block;
    width: 39.5%;
    left: -0.5%;
    position: relative;

    height: 100%;
    background-color: #f8f8f8;
    vertical-align: middle;
}
.as{
    margin-left : 10%
}
.ad{
    width: 40%;
    text-align: justify;
    margin-left : 10%;
    margin-top: 3%;
    color: gray;
}
footer{
    text-align: center;
    width: 100%;
    height: 120px;
}